{% extends "base_profile.html" %}

{% block content_profile %}
<!-- ***** Signup Area Starts ***** -->
<section class="section" id="signup">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading dark-bg">
                  <h2>Profile</h2>
                  <img src="assets/images/line-dec.png" alt="">
                  <p>Welcome {{user.name}}</p>
                  <p>Email: {{user.email}}</p>
            </div>
        </div>
    </div>
</section>
<!-- ***** Signup Area Ends ***** -->
{% endblock %}