{% extends "base_auth.html" %}

{% block content_auth %}
<!-- ***** Signup Area Starts ***** -->
<section class="section" id="signup_success">
    <div class="container-fluid">
      <div class="row">
            <div class="col-lg-12">
                <div class="section-heading dark-bg">
                  <h2>Thanks For Signing Up</h2>
                  <p>Please check your email for a verification link</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Signup Area Ends ***** -->
{% endblock %}